<div id="<%= dom_id organization %>">
  <p>
    <strong>Title:</strong>
    <%= organization.title %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organization.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= organization.website %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organization.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= organization.status %>
  </p>

</div>