<% content_for :page_pretitle do %>
Organizations
<% end %>
<% content_for :page_title do %>
<% @current_employee&.name || 'Index' %>
<% end %>
<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Organizations</h3>
        <div class="card-actions">
          <%= link_to new_organization_path, class: "btn btn-primary" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
          New organization
          <% end %>
        </div>
      </div>
      <div class="table-responsive">
        
        <table class="table table-vcenter table-mobile-md card-table">
          <thead>
            
              <th>Title</th>
            
              <th>Phone</th>
            
              <th>Email</th>
            
              <th>Website</th>
            
              <th>Description</th>
            
              <th>Status</th>
            
            <th class="w-1"></th>
          </thead>
          <tbody>
            <% @organizations.each do |organization| %>
            <tr>
              
                <td class="text-muted" data-label="Title">
                  <%= organization.title %>
                </td>
              
                <td class="text-muted" data-label="Phone">
                  <%= organization.phone %>
                </td>
              
                <td class="text-muted" data-label="Email">
                  <%= organization.email %>
                </td>
              
                <td class="text-muted" data-label="Website">
                  <%= organization.website %>
                </td>
              
                <td class="text-muted" data-label="Description">
                  <%= organization.description %>
                </td>
              
                <td class="text-muted" data-label="Status">
                  <%= organization.status %>
                </td>
              
              <td>
                <div class="btn-list flex-nowrap">
                  <%= link_to "Edit", edit_organization_path(organization), class: "btn" %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center">
          <p class="m-0 text-muted"><%= page_entries_info @organizations%></p>
          <%= paginate @organizations %>
      </div>
    </div>
  </div>
</div>
